﻿<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>终审</title>

	<link href="../plugins/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../plugins/bootstrap-table-1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
	<link href="../plugins/bootstrap-table-1.11.0/extensions/fixed-column/bootstrap-table-fixed-columns.css" rel="stylesheet"/>
	<link href="../plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"/>
	<link href="../plugins/waves-0.7.5/waves.min.css" rel="stylesheet"/>
	<!--<link href="../plugins/jquery-confirm/jquery-confirm.min.css" rel="stylesheet"/>-->
	<link href="../css/common.css" rel="stylesheet"/>
</head>
<body>

<div id="main">
	<div id="toolbar">
		<!--<a class="waves-effect waves-button" href="javascript:;" onclick="createAction()"><i class="zmdi zmdi-plus"></i> 新增用户</a>
		<a class="waves-effect waves-button" href="javascript:;" onclick="updateAction()"><i class="zmdi zmdi-edit"></i> 编辑用户</a>
		<a class="waves-effect waves-button" href="javascript:;" onclick="deleteAction()"><i class="zmdi zmdi-close"></i> 删除用户</a>-->
	</div>
	<table id="table"></table>
</div>
<!-- 新增 -->
<div id="createDialog" class="crudDialog" hidden>
	<form>
		<div class="form-group">
			<label for="input1">标题</label>
			<input id="input1" type="text" class="form-control">
		</div>
		<div class="form-group">
			<label for="input2">名称</label>
			<input id="input2" type="text" class="form-control">
		</div>
		<div class="form-group">
			<label for="input3">根目录</label>
			<input id="input3" type="text" class="form-control">
		</div>
		<div class="form-group">
			<label for="input4">图标</label>
			<input id="input4" type="text" class="form-control">
		</div>
	</form>
</div>
<script src="../plugins/jquery.1.12.4.min.js"></script>
<script src="../plugins/bootstrap-3.3.0/js/bootstrap.min.js"></script>
<script src="../plugins/bootstrap-table-1.11.0/bootstrap-table.min.js"></script>
<script src="../plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../plugins/bootstrap-table-1.11.0/extensions/fixed-column/bootstrap-table-fixed-columns.js"></script>
<script src="../plugins/bootstrap-table-1.11.0/extensions/export/bootstrap-table-export.js"></script>
<script src="../plugins/waves-0.7.5/waves.min.js"></script>
<!--<script src="../plugins/jquery-confirm/jquery-confirm.min.js"></script>-->
<script src="../js/tableExport.js"></script>
<script src="../js/common.js"></script>

<script>
var $table = $('#table');

$(function() {
	$(document).on('focus', 'input[type="text"]', function() {
		$(this).parent().find('label').addClass('active');
	}).on('blur', 'input[type="text"]', function() {
		if ($(this).val() == '') {
			$(this).parent().find('label').removeClass('active');
		}
	});

	// bootstrap table初始化
	$table.bootstrapTable({
		url: '/review/finalReview',
		height: getHeight(),				//定义表格高度
		striped: true,						//true为逐行变色
		classes: 'table table-hover table-no-bordered',//设置无边框
        detailFormatter: 'detailFormatter',
		smartDisplay: false,
		escape: true,					//转义HTML字符串
        maintainSelected: true,
		toolbar: '#toolbar',
        fixedColumns: true,
        fixedNumber: 1,
        showExport: true,
		columns: [
            {field: 'hours_desc', title: '时间段&nbsp&nbsp&nbsp&nbsp', align: 'center', valign: "middle"},
            {field: 'finial_review_add_cnt', title: '新增待审笔数', align: 'center', valign: "middle"},
            {field: 'finial_review_add_amt', title: '新增待审金额', align: 'center', valign: "middle"},
            {field: 'finial_review_finish_cnt', title: '完成笔数', align: 'center', valign: "middle"},
            {field: 'finial_review_finish_amt', title: '完成金额', align: 'center', valign: "middle"},
            {field: 'finial_review_refuse_cnt', title: '拒绝笔数', align: 'center', valign: "middle"},
            {field: 'finial_review_refuse_amt', title: '拒绝金额', align: 'center', valign: "middle"}
		]
	}).on('all.bs.table', function (e, name, args) {
		$('[data-toggle="tooltip"]').tooltip();
		$('[data-toggle="popover"]').popover();  
	});
});
function actionFormatter(value, row, index) {
    return [
        '<a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a>　',
        '<a class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="Edit"><i class="glyphicon glyphicon-edit"></i></a>　',
        '<a class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="Remove"><i class="glyphicon glyphicon-remove"></i></a>'
    ].join('');
}

window.actionEvents = {
    'click .like': function (e, value, row, index) {
        alert('You click like icon, row: ' + JSON.stringify(row));
        console.log(value, row, index);
    },
    'click .edit': function (e, value, row, index) {
        alert('You click edit icon, row: ' + JSON.stringify(row));
        console.log(value, row, index);
    },
    'click .remove': function (e, value, row, index) {
        alert('You click remove icon, row: ' + JSON.stringify(row));
        console.log(value, row, index);
    }
};
function detailFormatter(index, row) {
	var html = [];
	$.each(row, function (key, value) {
		html.push('<p><b>' + key + ':</b> ' + value + '</p>');
	});
	return html.join('');
}

</script>
</body>
</html>