body{
    font-family: '微软雅黑',arial,sans-serif;
}

.content{
    overflow: hidden
}

.tab{
    position: absolute;
    padding: 0;margin: 0
}

.htable table{
    font-size:11px;
    color:#333333;
    border-collapse: collapse;
    width:100%;
    table-layout:fixed;
}

th {
    border: solid #b6bebf;
    border-width:0 1px 1px 1px;
    background-color: #bbdafb;
    min-width: 50px;
    text-overflow: ellipsis; 
    text-align: center;
    font-size: 13px;
    /*
        word-break:break-all;
        word-wrap:break-word;
     */
    vertical-align: middle;
    max-height: 40px;
}

td{
    border:1px solid #b6bebf;
    /*border-width:1px 1px 1px 1px;*/
    min-width: 50px;
    /*                max-width: 50px;*/
    font-size: 13px;
    /*                text-overflow: ellipsis; 
                    white-space: nowrap; overflow: hidden;*/
    text-align: center;
    vertical-align:middle
}
tr{height:35px}
/*table tr:last-child td{border-bottom: 0}*/
tr:nth-child(even) {background: #f6f6f6}
/*tr:hover{background: #96D4DF}*/
.float-title{
    position:absolute;
    top:0;
    left:0;
    overflow-y: hidden;
    z-index: 100;
    border-top: 1px solid #b6bebf
}
.jout{
    position: absolute;
    top:0;left:0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    /*border-bottom:1px solid #b6bebf;*/
    /*border-width: 1px 2px 2px 1px;*/
}
.veil-float{
    position:absolute;top:0;left:0;
    z-index:1000;
    background-color:#fff;opacity:0;
    border:1px solid #fff;
}
.sort-triangle{
    display: inline-block;
    width: 14px;height:14px;
    margin-left: 3px;
    margin-bottom: -2px;
    cursor: pointer
}
.sort-triangle-up{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #fff;
}
.sort-triangle-down{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #fff;
    margin-top: 1px
}
.trend-red-img,.trend-green-img,.trend-equal-img{
    display: inline-block;
    width: 16px;height:16px;
    margin-left: 7px;
    margin-bottom:-5px
}
.trend-red-img{
    background: url(../imgs/red.png) no-repeat 0 0;
}
.trend-green-img{
    background:  url(../imgs/green.png) no-repeat 0 0;
}
.trend-equal-img{
    background:  url(../imgs/equal.png) no-repeat 0 0;
}
table.bottom-table{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background-color: #fff;
    border: 1px solid #b6bebf;
}
.red{color:#d00;}

.bottom-table{
    margin-top: -15px
}

.bottom-table tr{
    
    background-color: #96D4DF;
}

.label-switch{
    -webkit-transform:scale(1,0.6);
}
.td-old-transform{
    -webkit-transform: translateY(30px);
    transition-duration: 3s;
    opacity:0;
    width:50px;height:35px;line-height:35px;margin:0 auto
}
.my-switch{
    width: 60px;
    height:22px;
    border-radius:15px;
    background-color:#fff;
    margin:5px 0 0 5px;
    cursor: pointer
}
.my-switch .left{
    width: 22px;
    height:22px;
    border-radius:15px;
    background-color:#00bb44;
}

.my-switch .right{
    width: 22px;
    height:22px;
    border-radius:15px;
    float:right;
    background-color:#00bb44;
}

.border-shadow{
    width:100%;
    height:80px;
    position:absolute;
    bottom:0;
    /*background-color:#96D4DF;*/
    opacity:0;
    background: -moz-linear-gradient( top,#fff,#96D4DF);
    background: -webkit-linear-gradient(top,#fff,#96D4DF);
    border-radius: 15px 15px 0px 0px;
}